* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden !important;
}

.add-event-btn {
  height: 20px;
  border-radius: 15px;
  padding: 0 10px;
  display: inline-block;
  background: #f4f4f4;
  border: none;
  cursor: pointer;
  transform: translate(-20px, 0);
  transition: transform 0.3s, opacity 0.3s;
  &:hover {
    background: darken(#f4f4f4, 10%);
  }
}

.event {
  background: #f4f4f4;
  padding: 2px 5px;
  text-align: left;
  cursor: pointer;
  margin-top: 2px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: all 0.3s;
  border-radius: 4px;
  .event-title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.high-priority {
    background: rgb(255, 182, 182);
    &:hover {
      background: darken(rgb(255, 182, 182), 5%);
    }
  }

  &.completed {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
    background: rgb(199, 224, 199);
    &:hover {
      background: darken(rgb(199, 224, 199), 10%);
      color: darken(#aaa, 10%);
    }
  }

  &:hover {
    background: #ccc;
    .event-title {
      white-space: normal;
    }
  }
}
.no-date-tasks {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.container.unassinged-container {
  height: 100%;
}

body {
  background: #f4f4f4;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.month {
  height: calc(100% - 64px);
  overflow: hidden;
}
$color-danger: #e74c3c;
$color-success: #2ecc71;
$color-primary: #3498db;

.vue-logo {
  height: 50px;
  width: auto;
  margin-bottom: 50px;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-card {
  height: fit-content;
  max-width: 900px;
  min-width: 400px;
  width: fit-content;
  background: #fff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: left;
}

.week {
  height: 20%;
  width: 100%;
}

.button {
  &.button--round {
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
    background: #fff;
  }
}

.date-label {
  width: 200px;
  font-size: 25px;
}

.month-banner {
  background: #ccc;
  width: 100%;
  color: #333;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.nav-btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 0;
  margin: 0 10px;
  background: #fff;
  i {
    color: #333;
  }
}

.event {
  background: #f4f4f4;
  padding: 2px 5px;
  text-align: left;
  cursor: pointer;
  margin-top: 2px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: all 0.3s;
  border-radius: 4px;
  .event-title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.high-priority {
    background: rgb(255, 182, 182);
    &:hover {
      background: darken(rgb(255, 182, 182), 5%);
    }
  }

  &.completed {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
    background: rgb(199, 224, 199);
    &:hover {
      background: darken(rgb(199, 224, 199), 10%);
      color: darken(#aaa, 10%);
    }
  }

  &:hover {
    background: #ccc;
    .event-title {
      white-space: normal;
    }
  }
}

.events-scroller {
  padding: 0 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  top: 35px;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 2px;
    cursor: pointer;
  }
}

.add-event-btn {
  height: 20px;
  border-radius: 15px;
  padding: 0 10px;
  display: inline-block;
  background: #f4f4f4;
  border: none;
  cursor: pointer;
  transform: translate(-20px, 0);
  transition: transform 0.3s, opacity 0.3s;
  &:hover {
    background: darken(#f4f4f4, 10%);
  }
}

.day {
  max-height: 100%;
  background: #fff;
  border: 1px dotted #f4f4f4;
  transition: all 0.25s;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .add-event-btn {
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    background: #fcfcfc;
    .add-event-btn {
      visibility: visible;
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  &.today {
    background: rgb(255, 255, 233);
  }
  &.selected {
    background: rgb(240, 255, 255);
  }
}

.day-number {
  display: inline-flex;
  background: #f4f4f4;
  color: #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background: darken(#f4f4f4, 10%);
  }
}

.week-header {
  display: grid;
  height: 26px;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  background: #ccc;
  font-weight: bold;
}

.day-buttons {
  display: flex;
  padding: 5px;
  justify-content: flex-start;
}

@media screen and (max-width: 700px) {
  .month {
    height: calc(100% - 56px);
  }
  .month-banner {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 30px;
    pointer-events: none;
    .nav-btn {
    }
    .date-label {
      font-size: 18px;
    }
  }
  .modal-card {
    min-width: 50px;
    width: 100%;
    margin: 0 5px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    text-align: left;
  }

  .day {
    position: relative;
    .day-buttons {
      justify-content: center;
      padding: 1px;

      .day-number {
        font-size: 10px;
      }

      .add-event-btn {
        display: none;
      }
    }
  }
  .event {
    background: #f4f4f4;
    padding: 1px;
    text-align: left;
    cursor: pointer;
    margin-top: 2px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    transition: all 0.3s;
    border-radius: 0;
    font-size: 10px;
    pointer-events: none;
    .event-title {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      align-self: center;
      overflow: hidden;
      text-overflow: clip;
    }

    &.high-priority {
      background: rgb(255, 182, 182);
      &:hover {
        background: darken(rgb(255, 182, 182), 5%);
      }
    }

    &.completed {
      text-decoration: line-through;
      font-style: italic;
      color: #aaa;
      background: rgb(199, 224, 199);
      &:hover {
        background: darken(rgb(199, 224, 199), 10%);
        color: darken(#aaa, 10%);
      }
    }

    &:hover {
      background: #ccc;
      .event-title {
        white-space: normal;
      }
    }
  }
  .user-block {
    display: none;
  }
  .layout {
    grid-template-columns: auto auto;
    .unassinged-container {
      display: none;
    }

    .container {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      height: 100%;
    }
  }

  .events-scroller {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
  }
}

.last-month {
  animation-name: slide-left;
  animation-duration: 0.5s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
}
.next-month {
  animation-name: slide-right;
  animation-duration: 0.5s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
}

@keyframes slide-right {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: translate(-100%);
    opacity: 0;
  }

  55% {
    transform: translate(100%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: translate(100%);
    opacity: 0;
  }

  55% {
    transform: translate(-100%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
