$navbar-height: 45px;

.full-fixed-page {
  position: fixed;
  display: grid;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  grid-template-rows: $navbar-height auto;
}

.page__navbar {
  padding: 0 5px;
  z-index: 5;
  background: #34495e;
  color: #fff;
  transition: all 0.5s;

  & > div {
    margin: 0 5px;
  }

  .btn {
    background: #41b883;
  }
  .nav-contents {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;

    .menu-btn {
      margin-right: auto;
      background: blue;
    }
    .close-btn {
      display: none;
    }
  }
}

.background {
  opacity: 0;
  transition: all 0.25s;
  pointer-events: none;
}

.veiw-type {
  padding: 5px;
  margin: 5px;
  color: #fff;
}

.page__content {
  height: 100%;
  width: 100%;
}

.page-content__calendar-veiw {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto 400px;
}
