@media screen and (max-width: 700px) {
  .full-fixed-page {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .page-content__calendar-veiw {
    height: 100%;
    display: block;
  }

  .month-col {
    height: 100%;
    .month {
      height: 100%;
    }
  }

  .unassinged-container {
    display: none;
  }
}
